.GallerySection {
  text-align: center;
  width: 100%;
  margin-bottom: 60px;

  &-title {
    margin: 20px;
  }

  // img {
  //   margin-bottom: 30px;
  //   object-fit: cover;
  //   height: 200px;
  // }
}
