.Footer {
  background-color: yellowgreen;
  flex: 0 0 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  // justify-content: space-between;
  width: 100%;
  margin-top: 30px;
  font-size: 18px;
  color: white;

  // &-content {
  // margin-left: 100px;
  // }
  // span {
  //   padding: 0 20px;
  //   font-size: 24px;
  //   margin: 0 auto;
  //   color: white;
  // }
}

@media only screen and (max-width: 600px) {
  .Footer {
    font-size: 16px;
    height: 70px;
  }
}
