@media only screen and (min-width: 500px) {
.HomePage {
  height: auto;
  

    &-title {
      margin: auto;
      font-size: 6rem;
      color: #fff;
      text-transform: uppercase;
      padding: 5%;
    }
    &-content {
      padding-top: 100px;
      max-width: 730px;
      margin: 0 auto;
      text-align: left;
    }
    &-vid-btn{
      text-align: right;
    }
    &-vid {
      align-self: center;
    }
  

}
}

