/* .map-container { */
/* position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
/* width: 80%; */
/* height: 80%; */
/* } */
.App {
  text-align: center;
  padding-top: 85px;
  display: flex;
  height: 100%;
  flex-flow: column;
  .section {
    padding: 0 100px;
  }

  .bold {
    font-weight: 600;
  }
}

@media only screen and (max-width: 920px) {
  .App {
    .section {
      padding: 0 60px;
    }
    padding-top: 75px;
  }
  h1 {
    font-size: 35px !important;
  }
}

@media only screen and (max-width: 600px) {
  .App {
    .section {
      padding: 0 25px;
    }
    padding-top: 65px;
  }
  h1 {
    font-size: 30px !important;
  }
  p {
    font-size: 16px !important;
  }
}
